<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>465266525069-ce19mnldsuv7of6bat9d88m8p4elrptl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465266525069-ce19mnldsuv7of6bat9d88m8p4elrptl</string>
	<key>API_KEY</key>
	<string>AIzaSyB3TDLQViWfYyfTwODAt9b-t4aulzImZu8</string>
	<key>GCM_SENDER_ID</key>
	<string>465266525069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kickback.app</string>
	<key>PROJECT_ID</key>
	<string>projectkickback-9adf2</string>
	<key>STORAGE_BUCKET</key>
	<string>projectkickback-9adf2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465266525069:ios:8710f1b8bd164e1a</string>
	<key>DATABASE_URL</key>
	<string>https://projectkickback-9adf2.firebaseio.com</string>
</dict>
</plist>